 
 .link , .link-div a {
 text-decoration: none;
 color: #07393C ;
 font-size: 25px;
 margin: auto ;
}

.link:hover {
  color: #58F8FA ;
}

.link-div {
  display: flex ;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw ;
  height: 5vh ;
}