.wrapper {
	overflow-x: hidden;
	width: 100vw;
	z-index: 1;
	/* height: 100vh; */
}

.background {
	position: absolute;
	top: 0px;
	left: 0px;
	background-image:url(../images/MobileHomePage.svg), linear-gradient(to right, #fff, #58f8fa, #fff);
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	background-size: cover;
	filter: blur(5px);
}

.txt {
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%); 
	background-image: linear-gradient(to top right, #1f0318, #07393c, #1f0318);
	width: 75vw;
	height: 45vh;
	text-align: center;
	color: #fff;
	margin-bottom: 20px;
	border-radius: 5px;
}

@media screen and (max-height: 670px) {
	h1 {
		font-size: 14px;
	}
    .txt {
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	background-image: linear-gradient(to top right, #1f0318, #07393c, #1f0318);
	width: 90vw;
	height: 50vh;
	text-align: center;
	color: #fff;
	margin-bottom: 20px;
	border-radius: 5px;
}

.background {
	position: absolute;
	top: 0px;
	left: 0px;
	background-image:linear-gradient(to right, #fff, #58f8fa, #fff);
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	background-size: cover;
	filter: blur(5px);
}
}

@media screen and (min-height: 700px) {
	.background {
		position: absolute;
		top: 0px;
		left: 0px;
		background-image: url(../images/tallscreen.svg),
			linear-gradient(to right, #fff, #58f8fa, #fff);
		background-repeat: no-repeat;
		height: 100vh;
		width: 100vw;
		background-size: cover;
		background-image: blur(3px);
	}
}

@media screen and (min-width: 900px) {
	.background {
		display: none;
	}
	.txt {
		position: absolute;
		top: 50vh;
		left: 50vw;
		transform: translate(-50%, -50%);
		background-image: linear-gradient(to top right, #1f0318, #07393c, #1f0318);
		width: 75vw;
		height: 40vh;
		text-align: center;
		color: #fff;
		margin-bottom: 0px;
	}
}
