.html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  overflow-x: hidden; 
}

@media screen and (min-width:900px) {

  ::-webkit-scrollbar{
    width: 15px ;
  }
  ::-webkit-scrollbar-track {
    margin: -10px 0 ;
  }

  ::-webkit-scrollbar-thumb{
    background: #07393C ;
    height: 20% ;
    border-radius: 100vw ;
  }

  @supports(scrollbar-color: red green) {
  *{
    scrollbar-color:  #07393C #fff ;
  }

}

}

.layout {
  width:100vw ;  
}